<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My pets projects</title>
</head>
<body>
    <article>
     <h1><a href="/">Генератор картонных игрушек</a></h1>
    <p>published: 20.10.2025, 10:29</p>
<!--    <h2><a href='https://roadmap.sh/python'>Python Roadmap</a></h2>-->
    <p>Код - пайтон. Автоматизация генерации изображения - мейк.</p>

</article>
<article>
    <h1><a href='/'>Телеграмм бот</a></h1>
    <p>published: 28.10.2025, 13:23</p>
<!--    <h2><a href='https://roadmap.sh/python'>Python Roadmap</a></h2>-->
    <p>Код на пайтон</p>
</article>
    <article>
        <h1><a href='/'>Блог на джанго</a></h1>
        <p>published: 01.11.2025, 08:12</p>
    </article>
</body>
</html>